---
layout: default
title: Home
---

  <paper-scroll-header-panel class="flex">
    <paper-toolbar>
        
      <span class="flex"></span>
        <paper-icon-button icon="home"></paper-icon-button>
        <paper-icon-button icon="filter-list"></paper-icon-button>
        <span class="bottom">Youngbin Han's Portfolio</span>
    </paper-toolbar>
      <div style="padding: 8px;" align="center">
      {% for tag in site.tags %}<br>
  <h2 class="card-content" id="{{ tag | first }}">{{ tag | first }} ↓</h2>
    {% for posts in tag %}
                <div class="grid grid-pad" align="center">
      {% for post in posts %}
                    {% if post.title %}
                    <div class="col-1-3">
                <paper-material class="content" elavation="1" >
                    {% if post.image %}
                    <iron-image style="width:100%;" src="{{ site.baseurl }}/{{ post.image }}"></iron-image>
                     {% endif %}
<a href="{{ post.url }}">
  <h4 class="card-content" id="right-margin">{{ post.title }} <br><small>{{ post.date | date: "%Y/%m/%d" }}</small></h4>
</a></paper-material></div>
                    {% endif %}
      {% endfor %}
                </div>
    {% endfor %}

        <br>
{% endfor %}
      </div>
  </paper-scroll-header-panel>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
