---
layout: default
title: 
---

<paper-drawer-panel right-drawer id="drawerPanel">
    <paper-header-panel drawer>
        <paper-toolbar>
        <div>Filter</div>
        </paper-toolbar>
    <paper-menu>
        {% for tag in site.tags %}
        <paper-item onclick="href('#{{ tag | first }}')">{{ tag | first }}</paper-item>
    {% endfor %}
        </paper-menu>
    </paper-header-panel>
  <paper-scroll-header-panel class="flex" main>
    <paper-toolbar>
        
      <span class="flex"></span>
        <paper-icon-button onclick="href('/')" icon="home"></paper-icon-button>
        <paper-icon-button onclick="openTagsDrawer()" icon="filter-list"></paper-icon-button>
        <span class="bottom">Youngbin Han's Portfolio</span>
    </paper-toolbar>
      <div style="padding: 8px;" align="center">
          <div class="grid grid-pad" align="center">
                    <div class="col-1-3">
                    <paper-button class="content" onclick="href('https://play.google.com/store/apps/dev?id=8834426665679982263')">
                        <iron-icon icon="android"></iron-icon> Google Play Developer Page</paper-button>
                    </div>
               <div class="col-1-3">
                    <paper-button class="content" onclick="href('https://github.com/sukso96100?tab=repositories')">
                        <iron-icon icon="code"></iron-icon> Repositories On GitHub</paper-button>
              </div>
                </div>
      {% for tag in site.tags %}<br>
  <h2 class="card-content" id="{{ tag | first }}">{{ tag | first }} ↓</h2>
    {% for posts in tag %}
                <div class="grid grid-pad" align="center">
      {% for post in posts %}
                    {% if post.title %}
                    <div class="col-1-3">
                <paper-material class="content" elavation="1" >
                    {% if post.image %}
                    <iron-image style="width:100%;" src="{{ site.baseurl }}/{{ post.image }}"></iron-image>
                     {% endif %}
<a href="{{ site.baseurl }}/{{ post.url }}">
  <h3 class="card-content" id="right-margin" style="padding:4px;">{{ post.title }} <br></h3>
</a></paper-material></div>
                    {% endif %}
      {% endfor %}
                </div>
    {% endfor %}

        <br>
{% endfor %}
      </div>
  </paper-scroll-header-panel>

</paper-drawer-panel>

<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>