---
layout: default
title: Home
---

  <paper-scroll-header-panel class="flex">
    <paper-toolbar>
        
      <span class="flex"></span>
        <paper-icon-button icon="home"></paper-icon-button>
        <paper-icon-button onclick="openTagsDialog()" icon="filter-list"></paper-icon-button>
        <span class="bottom">Youngbin Han's Portfolio</span>
    </paper-toolbar>
      <div style="padding: 8px;" align="center">
      {% for tag in site.tags %}<br>
  <h2 class="card-content" id="{{ tag | first }}">{{ tag | first }} ↓</h2>
    {% for posts in tag %}
                <div class="grid grid-pad" align="center">
      {% for post in posts %}
                    {% if post.title %}
                    <div class="col-1-3">
                <paper-material class="content" elavation="1" >
                    {% if post.image %}
                    <iron-image style="width:100%;" src="{{ site.baseurl }}/{{ post.image }}"></iron-image>
                     {% endif %}
<a href="{{ site.baseurl }}/{{ post.url }}">
  <h3 class="card-content" id="right-margin" style="padding:4px;">{{ post.title }} <br></h3>
</a></paper-material></div>
                    {% endif %}
      {% endfor %}
                </div>
    {% endfor %}

        <br>
{% endfor %}
      </div>
  </paper-scroll-header-panel>
<paper-dialog style="padding:16px;" id="tagdialog">
    <h2>Filter</h2>
     {% for tag in site.tags %}<br>
 <a href="#{{ tag | first }}">| {{ tag | first }} |</a>
    {% endfor %}

</paper-dialog>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
